@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
p {
  line-height: 1.5;
}

ul{
	list-style: none;
	padding: 0;
}

.form-control {
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}

.main-title{
  	color: #2c3e50;
	margin: 60px 0;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    position: relative;
    text-transform: uppercase;
}

.section-title{
  color: #2c3e50;
}

.subtitle{
	font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 15px 0;
}

.fa-3{font-size: 3rem;}

.navbar{
	background-color: #fff;
}

.navbar .navbar-nav{
	width: 100%;
}

.navbar .navbar-nav .nav-link{
	padding: 1.5rem 1rem;
	text-transform: uppercase;
	color: #212529
}

.navbar.navbar-dark .navbar-nav .nav-link{
	color: #fff
}

.navbar .logo .fa{
	transition: all 0.3s ease-in-out 0s;
}
.navbar .logo .fa:hover {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.home {
	background: url(../images/home2.png) repeat-x;
    height: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover; 
}

.banner .banner-head{
	text-transform: uppercase;
	color: #fff;
	font-size: 6rem;
	line-height: 6rem;
	font-family: HeeboHeavy,Heebo,Helvetica,Arial,sans-serif;
	padding-top: 10rem;
}

.footer{
	padding: 1rem 0;
	overflow: hidden;
	background-color: #2e2e2e;
	color: #CCC;
}
.footer .copyright{
	font-size: 80%;
}
.footer ul{
	list-style: none;
	padding: 0;
}
.footer .social-links a{
	color: #CCC;
}
.footer .social-links span{
	padding: 7px;
	display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer .social-links span:hover{
    color: #fff;
}
.footer .social-links .twitter:hover{
	background-color: #0098f0;
}

.footer .social-links .linkedin:hover{
	background-color: #0077B5;
}

.footer .social-links .github:hover{
	background-color: #000;
}

.footer .social-links .email:hover{
	background-color: #dc3545;
}


.about .profilepic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 0;
    border: 0;

}

.skills li img{ 
	width: 4rem;
	margin: 2rem;
}

.skills li img.rails{ 
	width: 9rem;
}
.skills li img.nodejs{ 
	width: 5rem;
}
.work{
	margin-bottom: 50px;
}
.work .lang{
	font-weight: bold;
}

.wrapper {
  position: relative;
}


.contact{
	padding-bottom: 50px;
}

.contact .btn{
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
    border-radius: 0; 
}

.contact .map {
	margin-top: 50px;
}

.contact .map iframe{
	width: 100%;
	height: 400px;
	border: 0;
}


@media (max-width: 575px) {
	.banner .banner-head {
		font-size: 4rem;
		padding-top: 5rem;
	}
	.skills li img{
		margin: 1rem;
	}
}
